@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500;600;700;800;900&family=Varela+Round&display=swap');

$primary: #3E82A8;

// Fonts
$exo: 'Exo', sans-serif;
$varela: 'Varela Round', sans-serif;
