@import "variables";

$bg-color: #FFF3F3;

html {
  overflow-x: hidden!important;
  scroll-behavior: smooth;
}

body {
  background-color: $bg-color;
}

// Nav Link
.nav-link {
  font-family: $exo;
}

.logo-candiy {
  img {
    width: 50px;
    transform: rotate(25deg);
  }

  h1 {
    font-family: $exo;
    font-weight: 800;
    width: fit-content;
  }
  h4 {
    font-family: $varela;
    font-size: 12px;
    width: fit-content;
  }
}

// Hero Section
#hero-section {
  .hero-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem;

    h1 {
      font-family: $exo;
      font-weight: 800;
      width: fit-content;
      font-size: 50px;
      background: linear-gradient(to bottom, transparent 50%, white 50%);
    }
    p {
      max-width: 500px;
      font-family: $exo;
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 0.5px;
    }

    a {
      font-family: $exo;
      font-weight: 600;
      width: fit-content;
      letter-spacing: 0.5px;
      &:hover {
        color: white!important;
      }
    }
  }
  .hero-img {
    background: url("../../images/hero.jpg") center no-repeat;
    background-size: cover;
    z-index: -10;
    margin-left: -1px;
  }
}

// About Section
#about {
  padding-top: 8rem;
  padding-bottom: 8rem;

  img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 20px;
  }

  .d-sm-none {
    margin-top: 4rem;
    img {
      height: 300px;
      width: 100%;
    }
  }

  .candiy-mission {
    margin-left: 1rem;
    font-family: $exo;
    h1 {
      font-weight: 800;
    }

    p {
      max-width: 500px;
      letter-spacing: 0.5px;
      line-height: 150%;
      font-weight: 600;
      margin-top: 1rem;

    }

    a {
      margin-top: 1.75rem;

      &:hover {
        color: white!important;
      }
    }

  }
}

// Partners Section
#partners {
  font-family: $exo;
  letter-spacing: 0.5px;

  h2 {
    font-weight: 700;
  }

 .col-sm-4 {
  text-align: center;
 }

  span {
    color: white;
    font-size: 20px;
    font-weight: 700;
  }
}

// How it works Section
#how-it-works {
  padding-top: 6rem;
  padding-bottom: 6rem;

  font-family: $exo;

  h2 {
    font-weight: 800;
  }

  .svg-round {
    border: solid #72A9C9 4px;
    border-radius: 100px;

    img {
      width: 60px;
      height: 60px;
    }
  }

  .col-md-4 {
    text-align: center;
    h3 {
      margin-top: 2rem;
      font-weight: 700;
    }

    p {
      font-weight: 600;
      font-size: 18px;
    }
  }
}

// Box Content Section
#box-content {
  padding-bottom: 6rem;
  font-family: $exo;

  img {
    width: calc(100% - 10%);
    object-fit: cover;
    object-position: center;
    border: 20px white solid;
  }

  h1 {
    font-size: 50px;
    font-weight: 800;
    width: fit-content;
    background: linear-gradient(to bottom, transparent 50%, #FFCC9C 50%);
  }

  
  .col-md-6 {
    p {
      font-family: $varela;

      &:nth-child(2) {
        font-size: 18px;
      }

      &:nth-child(3) {
        max-width: 460px;
        line-height: 150%;
      }
    }

    .candiy-list {
      .number {
        font-weight: 900;
        font-size: 18px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        margin-right: 1.5rem;
      }

      .item {
        font-weight: 800;
        font-size: 30px;
      }
    }


  }

 
}

// Testimonials Section
#testimonials {
  font-family: $exo;
  padding-bottom: 6rem;

  .testimonial-heading {
    margin-bottom: 1rem;
    h2 {
    font-weight: 800;
    }

    p {
      margin-top: 1rem;
      font-size: 18px;
      max-width: 700px;
    }
  }

  .testimonial-item {
    border-radius: 10px;

    img {
      border-radius: 50px;
      width: 70px;
      height: 70px;
      object-fit: cover;
      object-position: center;
    }

    .name-rating {
      margin-left: 1.5rem;
      span {
        font-weight: 900;
        font-size: 18px;
      }

      .rating-div {
        img {
          width: 15px;
          height: 15px;
          margin-right: 5px;
        }
      }
    }

    .testimonial-description {
      line-height: 150%;
      letter-spacing: 0.5px;
      font-size: 14px;
    }

  }

  a {
    color: white;

    &:hover{
      color: white!important;
    }

  }
}

// Candy Box Section
#candy-box {
  background-color: white;
  padding-top: 6rem;
  padding-bottom: 6rem;

  .col-lg-6:nth-child(1) {
    img:nth-child(2) {
      width: 100%;
      height: 350px;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
    }

    p {
      font-family: $varela;
      letter-spacing: 0.5px;
      line-height: 150%;
    }
  }

  .col-lg-6:nth-child(2) {
    .subscription-heading {
      h2 {
        font-family: $exo;
        font-weight: 800;
      }

      span {
        font-family: $varela;
        margin-left: 0.3rem!important;
      }

      .rating-div {
        img {
          width: 15px;
          height: 15px;
          margin-right: 5px;
        }
      }
    }

    .subscription-plans {
      margin-top: 1rem;
      font-family: $exo;
      background-color: #FF9797;
      height: fit-content;
      border-radius: 10px;
      overflow: hidden;

      .tag {
        background-color: #72A9C9;
        font-weight: 800;
        padding: 1rem;
        writing-mode: vertical-lr;
        transform: rotate(180deg)!important;
      }

      .plan-details {
        padding: 1rem 3rem;
        width: 100%;
        
        h3 {
          font-size: 20px;
          font-weight: 800;
          margin-bottom: 3px!important;
        }

        span {
          background-color: white;
          border-radius: 3px;
          color: #FF9797;
          font-weight: 800;
          padding: 5px 20px;
          font-size: 14px;
        }

        h2 {
          font-weight: 800;
          font-size: 30px;
        }
      }

      &:hover {
        cursor: pointer;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
        transition-delay: 100ms;
        // transform: scale(1.1);
      }
    }

    a {
      width: fit-content;
      margin-top: 2rem;

      &:hover {
        color: white;
      }
    }
  }
}

// Newsletter Section
#newsletter {
  background-color: #104D70;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: $exo;

  p {
    font-size: 18px;
    font-weight: 600;
  }


  button {
    border-radius: 5px!important;
    width: fit-content!important;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 1rem;
    &:hover {
      color: white;
    }
  }
}

// Contact Section
#contact {
  padding-top: 6rem;
  padding-bottom: 6rem;
  .col-lg-4:nth-child(1) {
    input {
      margin-bottom: 0.5rem;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    textarea {
      resize: none;
    }

    button {
      margin-top: 0.5rem;
      border-radius: 5px!important;

      &:hover {
        color: white;
      }
    }
  }

  .col-lg-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contact-detail {
      max-width: 400px;
    }

    h1 {
      font-family: $exo;
      font-weight: 800;
    }

     p {
      font-family: $varela;
      letter-spacing: 0.5px;
      line-height: 150%;
     }

     .socials {
      margin-top: 1rem;
        font-family: $exo;

      a {
        text-decoration: none;
        color: #F58F79;
        font-weight: 800;
        font-size: 20px;
        margin-right: 3rem;

        &:hover {
          color: #DD5536;
          cursor: pointer;
          transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-duration: 150ms;
          transition-delay: 100ms;
        }
      }
     }
  }
  
  .col-lg-3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// Footer
footer {
  font-family: $exo;
  font-weight: 800;

  p {
    font-size: 20px;
    margin-bottom: 0px!important;

    span:nth-child(2) {
      font-size: 14px;
    }
  }
}


@media screen and (max-width: 1200px) {
  // xl

  #about {
    img {
      width: 200px;
    }

    .col-xl-6:nth-child(2){
      margin-top: 4rem;

      .candiy-mission {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1048px) {
  #hero-section {
    .hero-description {
      h1 {
        background: none;
        span {
          background: linear-gradient(to bottom, transparent 50%, white 50%);
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  // lg
  #testimonials {
    .col-lg-4{
      margin-top: 1.5rem;
    }
  }

  #candy-box {

    .col-lg-6:nth-child(1) {
      
      .logo-div {
        justify-content: center;
      }
   
    }

    .col-lg-6:nth-child(2) {
      margin-top: 2rem;

      a {
        align-self: center;
      }
    }
  }

  #newsletter {
    .col-lg-6:nth-child(1){
      justify-content: center;
      margin-bottom: 1rem;
    }
  }

  #contact {
    padding-bottom: 3rem!important;
    .col-lg-4 {
      order: 2!important;
    }

    .col-lg-5 {
      order: 1!important;
      margin-bottom: 3rem;
      align-items: start;
    }

    .col-lg-3 {
      order: 3!important;
      margin-top: 3rem;
    }
  }
}

@media screen and (max-width: 767px) {
  // md

  #hero-section {
    .hero-description {
      text-align: center;
      justify-content: center;
      align-items: center;

      h1 {
        background: linear-gradient(to bottom, transparent 50%, white 50%);
        span {
          background: none;
        }
      }
    
      p {
        max-width: none;
      }
    }

    .hero-img {
      height: 350px;
      margin-top: -2px;
    }
  }

  #about {
    img {
      width: 100%;
    }
    .candiy-mission {
      margin-left: 0px;
    }
  }

  #box-content {
    p {
      &:nth-child(3) {
        max-width: none!important;
      }
    }

    .col-md-6:nth-child(2) {
      margin-top: 2rem;
      text-align: center;
      
      .brand {
        display: flex;
        justify-content: center;
      }

      .candiy-list {
        margin-top: 1rem;
      }

    }
  }
}

@media screen and (max-width: 576px) {
  #hero-section {
    .hero-description {
      padding: 6rem 2rem;
      align-content: center;
    }
  }

  #box-content {
    .col-md-6 {
      .candiy-list {
        .number {
          font-size: 15px;
          width: 30px;
          height: 30px;
        }
  
        .item {
          font-size: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 490px) {
  #candy-box {
    .col-lg-6:nth-child(2) {
      .subscription-plans {
  
        .tag {
          font-size: 12px;
        }
  
        .plan-details {
          padding: 1rem 2rem;
          
          h3 {
            font-size: 16px;
          }
  
          span {
            font-size: 12px;
          }
  
          h2 {
            font-size: 25px;
          }
        }

      }
    }
  }

  #newsletter {
    p {
      text-align: center!important;
    }
    .col-lg-6:nth-child(2) {
      .d-flex {
        flex-direction: column;

        input {
          padding-top: 15px;
          padding-bottom: 15px;
        }

        button {
          margin-left: 0px!important;
          margin-top: 0.5rem;
          width: 100%!important;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  #hero-section {
    .hero-description {
      h1 {
        font-size: 35px;
      }
    }
  }

  #about {
    .col-xl-6:nth-child(2){
      margin-top: 2.5rem;
    }

    .candiy-mission {
      a {
        margin-top: 1rem;
      }
    }

    .d-sm-none{
      margin-top: 2.5rem;
      img {
        height: 200px;
      }
    }
  }

  #contact {
    .col-lg-5 {
      .socials {
        a {
          font-size: 16px;
          margin-right: 1rem;

        }
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .nav-link {
    font-size: 12px;
  }

  #hero-section {
    .hero-description {
      p {
        font-size: 14px;
      }

      a {
        padding-left: 80px;
        padding-right: 80px;
        font-size: 12px;
      }
    }
  }

  #about {
    p {
      font-size: 14px;
    }

    a {
      padding-left: 80px;
      padding-right: 80px;
      font-size: 12px;
    }
  }

  #partners {
    span {
      font-size: 14px;
    }
  }

  #how-it-works {
   .col-md-4 {
    .svg-round {
      border-width: 3px;
      padding: 30px!important;
      
      img {
        width: 50px;
        height: 50px;
      }
    }

    h3 {
      font-size: 18px;
    }
      p {
        font-size: 14px;
     }
   }
  }

  #box-content {
    .col-md-6 {
      p {
  
        &:nth-child(2) {
          font-size: 18px;
        }
  
        &:nth-child(3) {
          font-size: 14px;
        }
      }
      .candiy-list {
        .number {
          font-size: 12px;
          width: 25px;
          height: 25px;
        }
  
        .item {
          font-size: 20px;
        }
      }
    }
  }

  #testimonials {
    .testimonial-heading {
      p {
        font-size: 14px;
      }
    }

    a {
      padding-left: 80px;
      padding-right: 80px;
      font-size: 12px;
    }
  }

  #candy-box {
    .col-lg-6:nth-child(1){
      p {
        font-size: 14px;
      }
    }

    .col-lg-6:nth-child(2) {
      .subscription-plans {
        .plan-details {
          padding: 1rem 1rem;
          
          h3 {
            font-size: 14px;
          }
  
          span {
            font-size: 10px;
          }
  
          h2 {
            font-size: 20px;
          }
        }
      }

      a {
        padding-left: 80px;
        padding-right: 80px;
        font-size: 12px;
      }
    }
  }

  #contact {
    .col-lg-5 {
      p {
        font-size: 14px;
      }
    }
  }
}