$bg-color: aquamarine;

body {
  background-color: $bg-color;
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 400px;
  background-size: cover;
}

.square {
  width: 100px;
  height: 100px;
  /* Comment here */
  background-color: tomato;
}